* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

.bkr {
        background-attachment: fixed;
        background-size: contain;
}

.hdr {
    font-size: 36px;
    text-align: center;
    background-color: black;
    width: 100%;
    border-radius: 15px;
    padding: 2%;
}

.crdr {
    width: 70%;
    float: right;
    text-align: center;
    background-color: black;
}

.crdl {
    width: 70%;
    float: left;
    text-align: center;
    background-color: black;
}

.pics {
    margin-left: -25%;
    width: 8em;
    height: 150px;
    width: 200px;
}

@media screen and (max-width 500px) {

    .pics {
        height: 100px;
        width: 100px;
    }

    .crdr {
        float: right;
    }

}